name: build

on:
  release:
    types: [ published ]

env:
  TAG: ${{ github.ref_name }}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.get_image_tag.outputs.image_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Get Image Tag
        id: get_image_tag
        uses: patrickjmcd/get-image-tag@main

  build-image:
    name: "Build Image and push to Github Container Registry"
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - name: Clone
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: create .env.local file with MONGODB_URI
        run: |
          echo "MONGODB_URI=${{ secrets.MONGODB_URI }}" > .env.local

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/patrickjmcd/table-rock-lake-level:${{ needs.setup.outputs.image_tag }}
          build-args: |
            GITHUB_TOKEN=${{ secrets.PAT }}


  update-k8s-argo:
    name: "Update k8s-argo"
    runs-on: ubuntu-latest
    needs:
      - setup
      - build-image
    steps:
      - uses: actions/checkout@v6
        with:
          repository: "patrickjmcd/k8s-argo"
          path: "k8s-argo"
          token: ${{ secrets.PAT }}

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Update Kubernetes resources & commit & push
        run: |
          cd k8s-argo/apps/table-rock-lake-level
          kustomize edit set image table-rock-lake-level=ghcr.io/patrickjmcd/table-rock-lake-level:${{ needs.setup.outputs.image_tag }}
          cat kustomization.yaml
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Bump docker tag"
          git push
